input {
	margin-right: 5;
	color: rgb(66, 66, 66);
	border-radius: 5px;
	border-width: 2px;
}

button {
	margin-left: 10;
	background-color: rgb(66, 66, 66);
	border-color: rgb(66, 66, 66);
	border-width: 1px;
	border-radius: 7px;
	color: white;
	padding: 3px 7px;
	text-align: center;
	display: inline-block;
	font-size: 15px;
}

.unbolded {
	font-weight: normal;
}

#disclaimer-text {
	font-size: 16;
}

#death-window-container {
  height: 100%;
  margin: auto;
  display: table;
}

#death-window {
  display: table-cell;
  vertical-align: middle;
}

#banner {
	position: absolute;
	padding-left: 20;
	padding-right: 20;
	padding-bottom: 15;
	left: 0;
	right: 0;
	top: 0;
	background-color: rgb(242, 244, 248);
	color: rgb(66, 66, 66);
}